@page
@model IndexModel
@{
    ViewData["Title"] = "Bem vinde!";
}

<div class="text-center">
    <h1 class="display-4">Bem vinde!</h1>
    <p>Arte Viva – Onde cada impressão é uma nova história para sua vida.</p>
</div>
