@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidade";
}

<main role="main" class="container">
    <div class="row justify-content-md-center">
        <div class="col-8 p-5">
            <h1>@ViewData["Title"]</h1>
            <h3>Política de Privacidade – Arte Viva</h3>
            <p>
                Na Arte Viva, respeitamos a sua privacidade e estamos comprometidos com a proteção dos dados pessoais de nossos clientes e visitantes. Esta Política de Privacidade estabelece as bases sobre como suas informações pessoais são coletadas, usadas e protegidas quando você visita ou faz uma compra em nossa loja virtual.
            </p>
            <h5>Coleta de Dados</h5>
            <p>
                Podemos coletar informações de diversas formas, incluindo, mas não se limitando a: quando você realiza uma compra, se inscreve em nossa newsletter ou participa de uma promoção ou pesquisa; ao nos contatar diretamente através de nossos canais de atendimento ao cliente; automaticamente ao visitar nosso site, por meio de cookies e outras tecnologias de rastreamento.
            </p>
            <h5>Tipos de Dados Coletados</h5>
            <p>
                Os dados pessoais que coletamos podem incluir: informações de contato, como nome, e-mail, endereço de entrega e telefone; detalhes de transações financeiras relacionadas às suas compras; preferências e feedback dos clientes; dados técnicos, como endereço IP, dados de navegação, tipos de navegador e versões.
            </p>
            <h5>Uso de Dados</h5>
            <p>
                Usamos suas informações para: processar suas compras e gerenciar sua conta; melhorar nosso site e personalizar sua experiência conosco; comunicar informações de marketing, quando em conformidade com suas preferências; cumprir obrigações legais e regulamentares.
            </p>
            <h5>Compartilhamento de Dados</h5>
            <p>
                Não vendemos, comercializamos ou de outra forma transferimos para terceiros suas informações identificáveis pessoalmente sem o seu consentimento, exceto nas seguintes situações: fornecedores de serviço que nos ajudam na operação do nosso negócio e na gestão de atividades em nosso nome, como processamento de pagamentos e entrega; para cumprir com qualquer exigência legal, proteger nossos direitos ou como parte de procedimentos legais.
            </p>
            <h5>Segurança</h5>
            <p>
                Empregamos medidas de segurança adequadas para proteger contra a perda, alteração ou mau uso dos dados pessoais sob nosso controle.
            </p>
            <h5>Seus Direitos</h5>
            <p>
                Você tem o direito de: acessar, atualizar ou excluir as informações que temos sobre você; retirar seu consentimento ao uso de seus dados a qualquer momento; expressar qualquer preocupação que tenha sobre nosso uso de seus dados.
            </p>
            <h5>Cookies e Tecnologias de Rastreamento</h5>
            <p>
                Utilizamos cookies para melhorar a sua experiência, coletar dados analíticos para otimização do site e para fins de marketing.
            </p>
            <h5>Alterações na Política de Privacidade</h5>
            <p>
                Reservamo-nos o direito de alterar esta política a qualquer momento, portanto, revise-a frequentemente. Alterações e esclarecimentos entrarão em vigor imediatamente após sua publicação no site.
            </p>
            <p>
                Se tiver perguntas sobre esta Política de Privacidade, entre em contato conosco através do formulário de contato ou pelas redes sociais.
            </p>
        </div>
    </div>
</main>
<footer class="container">
    <div class="row justify-content-md-center">
        <div class="col-8 p-5">
            <p>Arte Viva – Onde cada detalhe da sua privacidade é respeitado como uma obra de arte.</p>
        </div>
    </div>
</footer>
