@page
@model PrivacyModel
@{
    ViewData["Title"] = "Quem Somos";
}

<main role="main" class="container">
    <div class="row justify-content-md-center">
        <div class="col-8 p-5">
            <h1>@ViewData["Title"]</h1>
            <h2>Bem-Vindo à Arte Viva – Impressões que Inspiram!</h2>
            <img src="~/imagens/quemsomos.png" alt="Loja da Arte Viva" class="img-fluid full-width-image" />

            <p>
                Desde 2013, a Arte Viva tem sido o seu destino confiável para ilustrações digitais de alta qualidade no Brasil. Com uma década de experiência, nós nos especializamos em trazer para o papel a beleza e a criatividade do mundo digital, oferecendo impressões que não apenas decoram espaços, mas também contam histórias e despertam emoções.
            </p>

            <h5>Nossa Missão</h5>
            <p>
                Nossa missão é simples: inspirar através da arte. Acreditamos que cada impressão tem o poder de transformar ambientes, influenciar estados de espírito e provocar pensamentos. Com cada obra de arte que vendemos, esperamos adicionar um toque de beleza e inspiração à vida de nossos clientes.
            </p>

            <h5>Nosso Acervo</h5>
            <p>
                Explorando a nossa coleção diversificada, você encontrará uma variedade de estilos, de abstratos modernos a retratos hiper-realistas, todos criados por artistas talentosos que compartilham nossa paixão pela expressão visual. Seja para decorar sua casa, escritório ou para presentear alguém especial, temos prints para todos os gostos e ocasiões.
            </p>

            <h5>Qualidade Garantida</h5>
            <p>
                Compreendemos que a qualidade é primordial. Por isso, utilizamos apenas materiais de alto padrão e técnicas de impressão de última geração para garantir que cada peça preserve a nitidez, as cores vibrantes e os detalhes requintados do trabalho original.
            </p>

            <h5>Sustentabilidade no Coração</h5>
            <p>
                Sabemos que nosso planeta é tão importante quanto a arte que criamos. É por isso que estamos comprometidos com práticas sustentáveis, utilizando papéis certificados e tintas ecológicas para minimizar nosso impacto ambiental.
            </p>

            <h5>Comunidade e Colaboração</h5>
            <p>
                A Arte Viva não é apenas uma empresa – é uma comunidade. Celebramos e apoiamos artistas locais, oferecendo uma plataforma para que seus trabalhos sejam vistos e apreciados. Além disso, estamos sempre abertos a colaborações e parcerias que nos ajudem a expandir o universo da arte digital.
            </p>

            <p>
                Junte-se à Nossa História
            </p>
            <p>
                Ao escolher a Arte Viva, você não está apenas adquirindo uma peça de arte; está apoiando artistas, abraçando a cultura brasileira e investindo em um produto que traz alegria e cor para o dia a dia. Navegue por nossa galeria e descubra a peça perfeita para você.
            </p>

            <p>
                Para informações sobre tamanhos, encomendas personalizadas ou perguntas gerais, fale conosco através do nosso formulário de contato ou pelas redes sociais.
            </p>
        </div>
    </div>

    <footer class="row">
        <div class="row justify-content-md-center">
            <div class="col-8 p-5">
                <p>Arte Viva – Onde cada impressão é uma nova história para sua vida.</p>
            </div>
        </div>
</footer>
</main>
